# -------------------------------
# Python
# -------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pycache
*.pdb
*.egg-info/
*.egg

# -------------------------------
# Виртуальное окружение
# -------------------------------
venv/
env/
ENV/

# -------------------------------
# Временные файлы
# -------------------------------
tmp/
*.log
*.sqlite3
*.db

# -------------------------------
# Секреты
# -------------------------------
.env
.env.*

# -------------------------------
# IDE и редакторы
# -------------------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# -------------------------------
# MacOS / Linux
# -------------------------------
.DS_Store
Thumbs.db